@font-face {
    font-family: Sacramento-Regular;
    src: url(Sacramento-Regular.ttf) format('truetype');
}
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 60rem;
    margin: 0 auto;
    height: 100vh;
<<<<<<< HEAD
    background-image: url("Images/jon-tyson-eTjX8xc1in8-unsplash.jpg");
=======
    background-image: url("jon-tyson-eTjX8xc1in8-unsplash.jpg");
>>>>>>> 5548861c513d161baa916ff070f890c789828cf0
    background-size: cover;
}

header {
    text-align: center;
    color: white;
    padding: 20px;
    align-items: center;
}

h1 {
    padding-bottom: 10px;
    font-size: 4rem;
    font-family: Sacramento-Regular, Geneva, Tahoma, sans-serif; 
}

.infoBox {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.gameBoard {
    width: 100%;
    position: relative;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.boardSquares {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    border-radius: 7px;
    background-color: rgb(39, 41, 63);
    padding: 20px;
    box-shadow: 5px 5px 5px rgb(1, 1, 49);
}

.square {
    position: relative;
    border: 3px solid rgb(255, 94, 0);
    width: 100px;
    height: 100px;
    background-color: rgb(247, 222, 81);
    border-radius: 7px;
    box-shadow: 4px 4px 4px darkred;
}

.X {
    background-image: url("Images/close.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
}

.O {
    background-image: url("Images/circle-outline.png");
    background-repeat: no-repeat;
    background-position: center;
}

button {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: darkred;
    margin-top: 20px;
    padding: 7px 15px;
    font-size: 1rem;
<<<<<<< HEAD
}
=======
}
>>>>>>> 5548861c513d161baa916ff070f890c789828cf0
